#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define GAME 3
#define MOUSE 4
#define MOUSESNIPE 5
#define VIM 6
#define SYMBOLS 7
#define SYMBOLS_F 8

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>
// #include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    combos {
        compatible = "zmk,combos";

        ParaLeft {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <4 16>;
        };

        ParaRight {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 19>;
        };

        ToMouseSnipeLayer {
            bindings = <&to MOUSESNIPE>;
            key-positions = <34 35>;
        };

        SwitchToRus {
            bindings = <&kp LC(LA(LS(E)))>;
            key-positions = <25 26>;
        };

        SwitchToEng {
            bindings = <&kp LC(LA(LS(R)))>;
            key-positions = <34 33>;
        };

        PrintScreen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <10 22>;
        };

        bootloaderLeft {
            bindings = <&bootloader>;
            key-positions = <0 13>;
        };
        bootloaderRight {
            bindings = <&bootloader>;
            key-positions = <11 22>;
        };
        resetLeft {
            bindings = <&sys_reset>;
            key-positions = <0 12>;
        };
        resetRight {
            bindings = <&sys_reset>;
            key-positions = <11 23>;
        };
    };

    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <0 2 3 4 6 7>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <2>;
        bindings = <&ib_toggle_layer 4>;
    };

    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";   
        device = <&vtrackball>;
        layers = <0 2 3 5 6 7>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <8>;
    };

    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <1>;
        evt-type = <INPUT_EV_REL>;            
        x-input-code = <INPUT_REL_MISC>;
        y-input-code = <INPUT_REL_WHEEL>;
        y-invert;
        scale-multiplier = <1>;
        scale-divisor = <6>;
        bindings = <&ib_wheel_scaler 1 16>;
    };

    ib_wheel_scaler: ib_wheel_scaler {
        compatible = "zmk,input-behavior-scaler";
        #binding-cells = <2>;
        evt-type = <INPUT_EV_REL>;
        input-code = <INPUT_REL_WHEEL>;
    };

    ib_toggle_layer: ib_toggle_layer {
        compatible = "zmk,input-behavior-tog-layer";
        #binding-cells = <1>;
        time-to-live-ms = <1500>;
    };

    behaviors {
        td: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <240>;
            quick-tap-ms = <150>;
            bindings = 
                <&mo>,
                <&kp>;
        };
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        f_shft_caps: F_hold_SHIFT_doubletap_CAPS_WORD {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bhm LSHFT F>, <&kp T>;
        };

        mo_kp: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };
        td_mt_symbols: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mo SYMBOLS>, <&mo SYMBOLS_F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            display-name = "Base";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &kp ESC       &kp N1         &kp N2        &kp N3        &kp N4        &kp N5            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0       &to GAME
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp TAB       &kp Q       &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P      &kp LEFT_BRACKET
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &mo_kp VIM ESC  &bhm LGUI A   &bhm LALT S   &bhm LCTRL D  &f_shft_caps     &kp G             &kp H     &bhm RSHIFT J  &bhm RCTRL K   &bhm RALT L &bhm RGUI SEMI  &kp APOS
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &bhm LSHFT DEL      &kp Z          &kp X         &kp C         &kp V         &kp B             &kp N         &kp M      &kp COMMA      &kp DOT       &kp FSLH     &kp RIGHT_BRACKET
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                            &trans     &kp BSPC        &mo LSHFT          &kp RET      &kp SPACE
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                       &td_mt_symbols    &mo RAISE         &kp BSPC
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Lower {
            label = "Lower";
            display-name = "Lower";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &trans         &trans       &trans         &trans      &sys_reset   &bootloader         &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans         &trans       &trans         &trans       &trans         &trans           &kp N7       &kp N8      &to MOUSESNIPE     &kp N0        &kp HOME      &kp F1
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans         &trans       &trans         &trans       &trans         &trans           &kp LEFT     &kp DOWN       &kp UP        &kp RIGHT     &trans        &kp F10
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 &kp LEFT_ALT    &trans        &trans         &trans       &trans        &kp PLUS          &kp N1       &kp N2         &kp N3        &kp DOT       &trans        &kp F20
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                              &trans       &trans        &trans            &trans        &trans    
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                           &trans        &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Raise {
            label = "Raise";
            display-name = "Raise";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 5          &bootloader    &sys_reset     &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4 &bt BT_DISC 5         &kp CARET      &kp AMPS    &kp KP_MULTIPLY &kp LPAR      &kp RPAR      &kp DEL
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                &bt BT_CLR_ALL &bt BT_CLR    &bt BT_PRV    &bt BT_NXT       &trans        &to 3           &kp UNDER     &kp EQUAL     &kp LBKT      &kp RBKT      &kp BSLH      &kp GRAVE
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans     &out OUT_TOG   &bootloader     &trans         &trans       &trans           &kp LBRC     &kp MINUS      &kp PLUS      &kp RBRC      &kp PIPE      &kp TILDE
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                              &trans        &trans       &trans            &trans        &trans    
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans       &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Game {
            label = "Game";
            display-name = "Game";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &trans       &kp ESC        &kp N1        &kp N2        &kp N3        &kp N4           &trans       &trans         &trans        &trans        &trans        &to DEFAULT
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans       &kp TAB        &kp Q         &kp W         &kp E         &kp R               &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans       &kp LSHIFT     &kp A         &kp S         &kp D         &kp F               &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans       &kp LCTRL      &kp Z         &kp X         &kp C         &kp V            &trans       &trans         &trans        &trans        &trans       &trans
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                             &trans        &kp BSPC      &kp SPACE            &trans        &trans    
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                           &trans        &trans          &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Mouse {
            display-name = "Mouse";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &trans         &trans       &trans         &trans       &trans         &trans           &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans         &trans       &trans         &trans       &trans         &trans           &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans         &trans       &trans         &trans       &trans         &trans           &trans       &trans         &trans        &trans    &to MOUSESNIPE    &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &mkp MCLK       &trans       &trans         &trans       &trans         &trans           &trans       &trans         &trans        &trans        &trans       &mkp LCLK
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                            &mkp LCLK      &trans       &mkp RCLK           &trans        &trans    
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Mouse_snipe {
            display-name = "Mouse_snipe";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &trans         &trans       &trans         &trans       &trans         &trans           &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans         &trans       &trans         &trans       &trans         &trans           &trans       &trans         &to LOWER     &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans         &trans       &trans         &trans       &trans         &trans      &msc MOVE_X(-50) &msc MOVE_Y(-10) &msc MOVE_Y(10) &msc MOVE_X(50)   &to DEFAULT     &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &mkp MCLK       &trans       &trans         &trans       &trans         &trans           &mkp MCLK    &mkp LCLK     &mkp RCLK      &kp ESC        &trans       &mkp LCLK
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                            &mkp LCLK      &trans       &mkp RCLK           &kp LCTRL   &trans    
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Vim {
            display-name = "vim";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &trans         &trans       &trans         &trans       &trans         &trans           &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans         &trans       &trans         &trans       &trans         &trans           &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans         &trans       &trans         &trans       &trans         &trans           &kp LEFT     &kp DOWN       &kp UP        &kp RIGHT     &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &mkp MCLK       &trans       &trans         &trans       &trans         &trans           &trans       &trans         &trans        &trans        &trans       &mkp LCLK
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                            &mkp LCLK      &trans       &mkp RCLK           &trans        &trans    
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans            &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };
        
        Symbols {
            label = "Symbols";
            display-name = "Symbols";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &trans        &trans       &kp C_MUTE  &kp C_VOL_DN   &kp C_VOL_UP &kp LC(LA(LS(PG_DN))) &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans        &kp N1       &kp N2        &kp N3         &kp N4       &kp N5            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp CARET
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans      &kp EXCL       &kp AT       &kp HASH       &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS    &kp KP_MULTIPLY &kp LPAR      &kp RPAR      &kp GRAVE      
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans      &kp UNDER     &kp EQUAL     &kp LBKT      &kp RBKT      &kp BSLH           &kp MINUS      &kp PLUS     &kp PIPE      &kp LBRC      &kp RBRC      &kp TILDE
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                              &trans       &trans         &trans           &trans        &trans    
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans           &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

        Symbols_f {
            label = "Symbols_f";
            display-name = "Symbols_f";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &trans        &trans       &trans         &trans        &trans        &trans             &trans       &trans         &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans        &kp F1       &kp F2        &kp F3         &kp F4       &kp F5            &kp F6        &kp F7        &kp F8        &kp F9        &kp F10        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans        &trans       &trans         &trans       &trans         &trans            &trans         &trans       &trans        &trans      &trans           &trans      
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &trans        &kp DEL       &trans         &trans      &trans          &trans           &kp F11        &kp F12     &trans         &trans        &trans         &trans
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                              &trans       &trans         &trans           &trans        &trans    
            //                                           ╰─────────────┤─────────────┤─────────────┤   ├─────────────┼─────────────╯
                                                                            &trans        &trans           &trans
            //                                                         ╰─────────────┴─────────────╯   ╰─────────────╯
            >;
        };

    };
};
